axel
bash-completion
bat
build-essential
capnproto
cargo
clang
cmake
coreutils
curl
diffstat
dnsutils
fd-find
fio
flake8
fzf
gawk
gh
git
golang
gpg
html2text
httpie
iftop
isc-dhcp-client
kubectl
less
libpq-dev
libsqlite3-0
libsqlite3-dev
libssl-dev
libunwind8
libunwind-dev
masscan
mold
mosh
net-tools
netcat
nethogs
nload
nmap
npm
pkg-config
pkg-config
powerline
protobuf-compiler
pv
pylint
python3-pip
ripgrep
siege
stow
subversion
tcpdump
tig
tldr
tmux
tree
unzip
vim
vim-gtk3
vim-nox
zlib1g-dev
zoxide
zsh
zsh-antigen
